
@{
    ViewData["Title"] = "PasswordUpdate";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}
<br />
<p>Şifre Güncelle</p>
<form method="post" class="form-group">
    <label>Eski Şifre</label>
    <input type="password" class="form-control" name="PasswordHash" />
    <label>Yeni Şifre</label>
    <input type="password" class="form-control" name="PasswordNew" />
    <label>Yeni Şifre Tekrar</label>
    <input type="password" class="form-control" name="PasswordNewR" />
    <br />
    
   <span class="text-danger">@Html.ValidationSummary()</span>
    @if (ViewBag.changePassword==1)
    {
        <script>
            swal("Bilgi!", "Şifre Başarıyla Yenilendi.", "success");
        </script>
    }

    <button type="submit" class="btn btn-outline-info">Şifreyi Güncelle</button>
</form>

