
<!DOCTYPE html>
<html lang="tr">

@await Html.PartialAsync("~/Areas/Member/Views/_UserLayoutPartial/_head.cshtml")

<body class="g-sidenav-show  bg-gray-100">

    @await Html.PartialAsync("~/Areas/Member/Views/_UserLayoutPartial/_sidebar.cshtml")

    <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
        <!-- Navbar -->
        @await Html.PartialAsync("~/Areas/Member/Views/_UserLayoutPartial/_navbar.cshtml")
        <!-- End Navbar -->

        @RenderBody()
      
    </main>
   
    @await Html.PartialAsync("~/Areas/Member/Views/_UserLayoutPartial/_rightbar.cshtml")
    <!--   Core JS Files   -->
    @await Html.PartialAsync("~/Areas/Member/Views/_UserLayoutPartial/_script.cshtml")
</body>

</html>