

<head>


    <link rel="apple-touch-icon" sizes="76x76" href="~/UI_dashboard/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/UI_dashboard/assets/img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />

    <link href="~/UI_dashboard/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/UI_dashboard/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Seyahat Acentesi</title>
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap"
          rel="stylesheet">
    <!-- google fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/TraversalStarter/assets/css/style-liberty.css">
    <link rel="stylesheet" href="~/TraversalStarter/assets/css/style-starter.css">
    <!-- Template CSS -->

</head>
