
@{
    ViewData["Title"] = "passwordUp";
    Layout = "~/Views/Shared/AdminLayout_.cshtml";
}



<form method="post" class="form-control m-4">
    <p>Şifre Güncelle</p>
    <div class="form-group">
    <label>Eski Şifre</label>
    <input type="password" class="form-control" name="PasswordHash" />
    <label>Yeni Şifre</label>
    <input type="password" class="form-control" name="PasswordNew" />
    <label>Yeni Şifre Tekrar</label>
    <input type="password" class="form-control" name="PasswordNewR" />
    <br />
    </div>
   <span class="text-danger">@Html.ValidationSummary()</span>
    @if (ViewBag.changePassword == 1)
    {
            <script>
                swal("Bilgi!", "Şifre Başarıyla Yenilendi.", "success");
            </script>
    }

    <button type="submit" class="btn btn-outline-info">Şifreyi Güncelle</button>
</form>

